 @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

 * {
   font-family: "Montserrat", sans-serif;
 }

 :root {
   --primary-color: #63c6ff;
   --secondary-color: #f2f7fe;
   --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
   --bs-border-radius: 10px;
 }

 body {
   background-image: url(/images/world.jpg);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 35%;
   background-attachment: fixed;
 }

 h1 {
   font-size: 55px;
   font-weight: bolder;
   color: #022391;
 }

 h2 {
   text-align: left;
   color: rgb(6, 2, 131);
   font-family: Verdana;
   border-radius: 5px;
   line-height: 1, 5;
   padding: 40px;
   transition: 200ms;
 }

 h4 {
   position: relative;
   left: 65px;
   font-family: "Montserrat", sans-serif;
   list-style: none;
   padding: 10px 0;
   border-radius: 15px;
   line-height: 1.5;
   max-width: 800px;
   color: #020291;
 }

 h4 .box1:hover {
   color: rgb(75, 208, 245);
 }

 .box1 {
   font-size: 22px;
   background: linear-gradient(90deg,
       #5871c4,
       #446c85,
       #419b8d,
       #409a8f,
       #2892cb);
   background-size: 50%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   animation: animate 5s linear infinite;
 }

 @keyframes animate {
   0% {
     background-position: 0%;
   }

   100% {
     background-position: 100%;
   }
 }

 .box2 {
   font-size: 12px;
   font-style: italic;
 }

 .konteiner {
   width: 100%;
   padding: 50px;
   margin: 5% auto;
   position: absolute;
   display: block;
   justify-content: left;
 }

 .konteiner .kontent {
   width: calc(300px - 10px);
   height: calc(250px - 10px);
   align-items: center;
   padding: 0px 10px;
   float: left;
   border-radius: 16px;
   color: #020291;
   opacity: 0.6;
 }

 .konteiner .kontent img {
   max-width: 100%;
   height: 200px;
   border-radius: 10px;
 }

 .konteiner .kontent:hover img {
   opacity: 0.5;
   text-align: top;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: 5px 5px 20px 5px #2892cb;
   transform: scale(1.2);
 }

 .konteiner .kontent .title {
   position: absolute;
   margin-top: -200px;
   text-align: left;
   visibility: hidden;
   transition: 0.3s ease-in-out;
 }

 .konteiner .kontent:hover .title {
   visibility: visible;
   transition-delay: 0.3s;
   cursor: pointer;
   font-size: 18px;
 }

 .konteiner .kontent .text {
   text-align: left;
   font-size: 13px;
   color: #020284;
 }

 .konteiner .kontent .boton {
   text-align: left;
   margin-top: 110px;
   font-size: 17px;
 }

 h5 {
   padding: 470px 0px 25px 0px;
   text-align: center;
   font-size: 15px;
   font-family: "Montserrat", sans-serif;
   color: #020291;
 }

 .two {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   font-weight: bold;
   color: #020291;
   text-align: center;
   margin: 0px auto;
   display: block;
   padding: 16px 25px;
   background-color: rgba(0, 136, 169, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   box-shadow: 1px 1px 1px rgb(75, 208, 245);
   transition: all 0.3s ease 0s;
 }

 .two:hover {
   background-color: rgba(0, 136, 169, 0.8);
   color: rgb(75, 208, 245);
 }